
@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Fira Code, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: black;
}

.green-text {
  color:#bcfd49;
}

.bg-neon-green {
  background-color: #bcfd49;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pages-wrapper {
  @apply w-screen flex flex-col items-center  
}

.pages-container {
  @apply w-screen h-full md:w-[80%]   flex flex-col
}

.page1 {
  @apply bg-gradient-to-b from-black/70 to-slate-800/70 rounded-t-3xl
}

.page2 {
  @apply bg-gradient-to-t from-black/70 to-slate-800/70
      flex flex-col items-center
}

.page3 {
  @apply bg-gradient-to-b from-black/70 to-slate-800/70
        flex flex-col-reverse items-center
}

.page4 {
  @apply bg-gradient-to-t from-black/70 to-slate-800/70
  flex flex-col items-center
}

.page5 {
  @apply bg-gradient-to-b from-black/70 to-slate-800/70
  flex flex-col-reverse items-center
}

.page6 {
  @apply  bg-gradient-to-t from-black/70 to-slate-800/70
  flex flex-col items-center
}

.page7 {
  @apply bg-gradient-to-b from-black/70 to-purple-900/70  rounded-b-3xl
  flex flex-col items-center
}

h1{
  @apply green-text text-3xl md:text-9xl
}

h2{
  @apply text-base text-gray-200
}

h3{
  @apply text-sm text-gray-400
}

.header-wrapper {
  @apply hidden md:h-20 md:flex md:items-center
}

.header-title {
  @apply  hidden md:flex md:pl-5 md:h-10 md:visible text-xl 
}




.vert-wrapper {
  @apply h-screen overflow-hidden p-5 flex flex-col items-center text-center justify-center pb-10 md:px-0 md:pb-10
}


.blocks-wrapper {
  @apply  h-screen py-5 overflow-scroll justify-center  text-center text-2xl md:flex-row 
}

.page-title {
  @apply  py-5 
}

.page-subtitle {
  @apply py-5  
}

img{
  @apply max-h-[300px]  md:h-3/4 md:max-h-[75%]
}

.main-image {
  @apply md:h-[70%]  md:w-[80%] 
}
.img-wrapper {
  @apply     flex items-center justify-center 
}
.left-block {
  @apply w-screen  md:w-1/2 p-5 py-10 md:p-0 md:py-5  flex flex-col justify-center items-center md:px-5
}

.right-block {
  @apply w-screen  md:w-1/2 p-5 py-10  md:pl-10 flex flex-col justify-center items-center md:px-5
}

.footer-wrapper {
  @apply h-10  w-full md:h-[120px]
      flex flex-row items-center md:justify-between md:px-10
}

.footer-title {
  @apply invisible md:pl-5 md:h-10 md:visible text-xl
}

.copyright {
  @apply text-xs text-gray-300
}
