@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Fira Code, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: black;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
  Page wrapper: full when small, 80% border when md or bigger
*/
.pages-wrapper {
  @apply w-screen flex flex-col items-center 
}

.pages-container {
  @apply w-screen h-full md:w-[80%] flex flex-col
}


/*
  Page color black >> slate >> purple and column <> rows layout
*/

.gray-to-black {
  @apply bg-gradient-to-t from-black/70 to-slate-800/70 
}

.black-to-gray {
  @apply bg-gradient-to-b from-black/70 to-slate-800/70
}

.page-body {
  @apply flex flex-col 
}

.page-body-reverse {
  @apply flex flex-col-reverse
}

.main-page {
  @apply gray-to-black rounded-t-[40px]
}

.page1 {
  @apply black-to-gray page-body 
}

.page2 {
  @apply gray-to-black page-body-reverse
}

.page3 {
  @apply black-to-gray page-body 
}

.page4 {
  @apply gray-to-black page-body-reverse
}

.page5 {
  @apply black-to-gray page-body 
}

.page6 {
  @apply gray-to-black page-body rounded-b-[40px]
}

/*
  Text
*/

.light-gray {
  @apply text-gray-200
}

.dark-gray {
  @apply text-gray-400
}
h1{
  @apply text-lulo-green text-8xl md:text-9xl 
}

h2{
  @apply light-gray text-2xl md:text-4xl 
}

h3{
  @apply dark-gray text-xl md:text-2xl text-left
}

/* keep main subtitle center aligned */

.main-wrapper h3 {
  @apply text-center
}
.page-title {
  @apply py-5 md:py-1 mt-[60px] md:mt-[100px]
}

.page-subtitle {
  @apply py-5 md:py-3 px-5
}

h1.page-title {
  @apply text-transparent bg-clip-text animated
} 

/*
  Header >> Hiden when small (nav buttons are absolute/relative with the main-page
*/

.header-wrapper {
  @apply hidden md:h-20 md:flex md:items-center 
}

.header-title {
  @apply  hidden md:visible md:h-10 md:flex md:pl-5 text-4xl items-center

}

/*
  Buttons
*/

.button-wrapper {
  @apply absolute top-0 left-0 px-4 pt-2 md:top-[-77px] w-full flex justify-end
}

.btn-separator {
  @apply w-5 xl:w-10
}

.button-base {
  @apply min-w-[145px] max-h-[70px] px-[15px] py-[20px] p-5 bg-gray-800 light-gray rounded-full text-xs
}

.btn-grad-wrapper {
  @apply max-h-[60px] animated rounded-full p-[2px] 
}

.contact-button {
  @apply  button-base cursor-arrowdown
}

.app-button {
  @apply button-base
}



/*
  Main Body
*/

.main-image {
  @apply w-[95%] md:w-[80%] md:h-[80%]
}

.main-wrapper {
  @apply h-full md:h-screen relative py-20 md:px-0 md:pt-20 flex flex-col items-center text-center justify-center
}

img {
  @apply max-h-[600px] h-[90%]
}

.img-wrapper {
  @apply flex items-center justify-center
}

.blocks-wrapper {
  @apply h-full md:h-screen py-10 justify-center text-center text-2xl md:flex-row 
}


.left-block {
  @apply w-screen md:w-1/2 p-5 py-10 md:p-0 md:py-5 flex flex-col justify-center items-center md:px-5
}

.right-block {
  @apply w-screen md:w-1/2 p-5 py-10 md:pl-10 flex flex-col justify-center items-center md:px-5
}


/*
  Mailchimp
*/

.mailchimp-wrapper {
  @apply w-full h-full  
}

.mc-outer {
 @apply w-full h-full flex flex-col lg:flex-row items-center justify-center 
}

.input-response {
  @apply md:w-[50%] flex flex-col items-end 
}

.input-wrapper {
  @apply w-full min-w-[225px] px-2 pt-2 lg:mt-5 text-sm md:text-lg
}

.mc-input {
  @apply w-full bg-transparent dark-gray border-b-2 border-gray-400
}

.submit-col {
  @apply flex flex-row justify-center px-2
}


.mc-response {
  @apply w-full min-h-[20px] pl-5 py-1 dark-gray text-xs 
}

.mc-loading .mc-success {
  @apply dark-gray text-xs
}

.mc-error {
  @apply text-red-300 text-xs
}


/*
  TODO can't remove ring
*/

input {
  @apply focus:ring-0 focus:ring-offset-0;
}

input {
  @apply ring-offset-0 ring-0
}

/*
  Footer - Lulo and Solana need to be same size to keep links in the middle
*/

.footer-wrapper {
  @apply w-full flex flex-col md:flex-row items-center px-2
}

.footer-title {
  @apply w-full md:h-10 md:pl-5 md:w-[25%] text-lulo-green text-center md:text-start text-4xl 
}

.links-bar {
  @apply w-full flex flex-row max-h-[90px] px-2  justify-center
}

.links-bar a {
  @apply flex items-center justify-center px-5 md:px-10 py-5
}

.solana-wrapper { 
  @apply flex flex-row max-h-[50px] md:w-[25%]  w-full justify-center
}

.solana-img-wrapper {
  @apply flex  items-center justify-center  max-h-[40px]
}
.solana-img {

}
.solana-label {
 @apply text-xs p-2 light-gray justify-start text-left
}

.copyright {
  @apply w-full md:h-10 py-5  text-xs md:text-base text-center light-gray
}

/*
  Animation
*/

.animated {
  @apply lulo-animate bg-gradient-to-r from-lulo-pink to-lulo-green
}

@keyframes lulo2 {
  100% {
    background-position: 0 0, 0 0;
    @apply bg-gradient-to-r from-pink-400 to-green-400
  }
}

.lulo-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}


